input, label, h2 {
    font-family: Arial;


}

.login-form .card {
    position: relative;
    overflow: hidden;
}
.login-form .card .shape {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: -150px;
    background: rgba(0,0,0,0.05);
    transform: rotate(45deg);
}

.login-form .card .card-header i {
    font-size: 54px;
    margin-bottom: 15px;
}

.login-form .card .card-header h2 {
    font-size: 25px;
    font-weight: 700;
}

.login-form .card .card-body {
    position: relative;
}

.login-form .card .card-body label {
    font-size: 13px;
}

.login-form .card .card-body input,
.login-form .card .card-body textarea {
    border: 1px solid #aaa;
    border-radius: 0;
}
.login-form .card .card-body input:focus,
.login-form .card .card-body textarea:focus {
    border: 1px solid #222;
}

.login-form .card .card-body .btn {
    background: #222;
    color: #fff;
    border-radius: 0;
}
.login-form .card .card-body .btn:hover {
    background: #555;
    color: #fff;
}
.login-form .card .card-body .custom-control label {
    font-size: 16px;
}

/* login.css */

body {
    background-image: url("../img/gym_picture.jpg");
    background-size: cover;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.card-header {
    position: relative;
    background-color: transparent;
    text-align: center;
}

.card-header i {
    font-size: 60px;
    margin-bottom: 10px;
}

.card-header h2 {
    font-size: 24px;
    margin-bottom: 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-group {
    position: relative;
}

.form-control {
    width: 88%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-checkbox-label {
    margin-left: 25px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0069d9;
}
